<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="zh-cn">

<title>服务协议</title>
</head>

<body>

<div class="gong_conc" style="text-decoration: none; list-style-type: none; width: 1040px; line-height: 22px; font-size: 14px; font-family: 微软雅黑; color: rgb(34, 34, 34); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; border: 0px none; margin: auto; padding: 0px">
	<h1 style="text-decoration: none; list-style-type: none; color: rgb(34, 34, 34); font-family: 微软雅黑; border: 0px none; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255)" align="left">　</h1>
	<p class="p0" style="text-decoration: none; list-style-type: none; text-align: center; border: 0px none; margin: 0px; padding: 0px; background-color: rgb(231, 232, 235)">
	<span style="text-decoration: none; list-style-type: none; font-weight: 700; border: 0px none; margin: 0px; padding: 0px">
	<font face="宋体" style="font-size: 9pt">公众号建设服务协议</font></span></p>
	<p >使用享受本站所提供的服务前请先仔细阅读本服务协议，除非你已经阅读并接受本协议的所有条款，否则您无权使用本服务平台推出的&#8220;公众号&#8221;建设有偿咨询服务和协助建设服务。若您提交申请建设则代表您已阅读并同意本服务协议。届时不以任何未阅读服务协议或不需要为由而退款。</p>
	<p >一、隐私保密 <br>
	  我们对您的隐私起到有效的保护。如发现泄露，本站会配合使用服务者的调查。 <br>
	  二、公众号使用等规范<br>
	  用户在使用公众号时，应严格准守微信公众号官方的《微信公众平台服务协议》，不得将公众号用于以下用途，或群发以下相关违法规定，否则公众号或功能被禁用，本站一律不负责 <br>
	  （1）违反宪法确定的基本原则的；<br>
	  （2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
	  （3）损害国家荣誉和利益的；<br>
	  （4）煽动民族仇恨、民族歧视，破坏民族团结的；<br>
	  （5）破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
	  （6）散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
	  （7）散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；<br>
	  （8）侮辱或者诽谤他人，侵害他人合法权益的；<br>
	  （9）煽动非法集会、结社、游行、示威、聚众扰乱社会秩序；<br>
	  （10）以非法民间组织名义活动的； <br>
	  三、服务及费用 <br>
	  1、在您同意本服务协议后，就代表您授权我们协助您建设微信公众号营销功能，若您没有微信公众号，则我们会提供开通公众号咨询服务，协助您申请开通微信公众号。然后在帮您建设开通公众号营销功能。 <br>
	  2、建设服务收费价格为&#8220;订阅号+营销功能，共计300元&#8221;、&#8220;服务号+营销功能，共计300元&#8221;、&#8220;订阅号+服务号+营销功能，共计400元&#8221;。其中建设服务内容细分为：公众号建设服务、协助开通公众号咨询服务、公众号及营销功能后期使用指导服务，付款成功后，即刻享受我们所提供的服务内容。 <br>
	  3、公众号协助开通服务为：若您本身没有微信公众号，我们通过电话或QQ开始为您提供关于开通公众号的任何咨询服务时，则视为您已经享受本服务。若您本身已有微信公众号，则我们会退还您50%的费用。 <br>
	  4、公众号建设服务为：当您已拥有微信公众号，则我们会将您的微信公众号接入我们自主研发的第三方微信公众号营销平台，接入后您即可拥有：群发功能、粉丝管理、微信自动回复（文字、语音、图文）、客服功能、自定义导航菜单、微信留言板、微信投票、微信抽奖功能、微信刮刮卡功能。 <br>
	  5、公众号及营销功能后期使用指导服务为：我们公司提供专业的售后人员为您提供在使用公众号或使用营销功能上的任何问题和操作。 <br>
	  四、申请须知 <br>
	  1、付款后，您的手机号码会收到一条短信，请您按照短信内容及时联系我们客服QQ，或者按照付款后的页面提示主动联系我们的客服人员。 <br>
	  2、协助申请公众号过程中，公众号名称具有唯一性，不得重复。若您所提交的名称已被占用或不能使用，则需要更换名称后，才可进行开通。 <br>
	  3、协助申请公众号开通成功后，会帮您开通建设微信营销功能，营销功能包括：微信营销功能包含：群发功能、粉丝管理、微信自动回复（文字、语音、图文）、客服功能、自定义导航菜单、微信留言板、微信投票、微信抽奖功能、微信刮刮卡功能。 <br>
	  4、开通后，本站会安排售后人员为您服务，指导您使用操作相关功能。 <br>
	  5、订阅号默认自带自定义菜单功能，无法使用我们提供的自定义菜单功能。 <br>
	  6、若需要协助开通订阅号，则您可以以个人或企业名义进行申请；若需要协助开通服务号，则您必须具备企业应有资质。 <br>
	  7、当您付款后，本站不会在向您强制收取其他任何费用。 <br>
	  8、申请人必须年满18周岁，且拥有中国大陆户籍信息。 <br>
	  9、申请的公众号名称涉及品牌或商标等，官方强制要求提供相关证明时，则需要按照官方的规定进行提供相应信息。 <br>
	  10、本站不提供任何关于微信公众号认证的服务，但可协助您进行微信公众号认证，认证期间产生的费用需由申请人自行承担。 <br>
	  11、我们并非微信公众号官方，微信公众号官方也并未有授权本站帮您开通微信公众号。我们仅提供公众号建设服务、协助开通公众号咨询服务、公众号及营销功能后期使用指导服务。若您只是单纯需要申请微信公众号，而不需要开通第三方微信营销功能，您可进入微信公众号官方进行免费申请。 <br>
	  五、退订声明 <br>
	  （1）付款后，我方未在3个工作日协助或未解决客户建设公众号过程中的问题； <br>
	  （2）所开通的微信营销功能无法使用； <br>
	  （3）政府机构单位，凡符合以上任一条件给予退款。 <br>
	  但不包含 <br>
	  （1）若客户本身无公众号，我们协助客户申请公众号过程中，客户无法提供注册所需信息或不配合我方人员完成注册； <br>
	（2）若客户本身无公众号，我们协助客户申请公众号过程中，因客户所需申请的公众号昵称已被使用或不能使用，且客户又拒绝更换昵称；<br>
	（3）客户未按照页面或短信提示主动联系我们客服QQ或我方人员多次联系客户QQ或电话，客户均无回应。<br>
注：所有付款成功客户，若因个人原因无法完成建设服务，我方为其保留2年的服务，在2年内可随时联系我方提供服务。若客户在未享受我们的任何咨询或技术服务时，已自主建设开通公众号或本公司在三个工作日内未向你提供一对一的互动服务的，你可要求本公司给你退还服务费用的50%，而后本公司在为您提供接入开通微信营销功能。 </p>
	<p >六、如您需要取消本服务，应先取得本站审核同意。本站注销用户信息，即表明本站与您之间的协议已解除，但您仍应对您使用本服务期间的行为承担可能的违约或损害赔偿责任。 <br>
	  七、系统中断或故障 <br>
	  本站因下列状况无法正常运作，使您无法使用各项服务时，本站不承担损害赔偿责任，该状况包括但不限于： <br>
	  1、电信设备出现故障不能进行数据传输的。 <br>
	  2、因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本站系统障碍不能执行业务的。 <br>
	  3、由于黑客攻击、电信部门技术调整或故障、网站升级、银行、支付宝方面的问题等原因而造成的服务中断或者延迟。 <br>
	  八、法律适用管辖 <br>
	  1.本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，没有相关法律规定的，参照通用国际商业惯例和（或）行业惯例。 <br>
	  2.你对本协议理解和认同，您即对本协议所有组成部分的内容理解并认同，一旦您使用本服务，你和本站即受本协议所有组成部分的约束。 <br>
	  3.若你和本站之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，你同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。 </p>
	<p class="p15" style="text-decoration: none; list-style-type: none; color: rgb(34, 34, 34); font-family: 宋体; font-size: 9pt; border: 0px none; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255)">&nbsp;</p>
</div>

<div style="text-align:center;">

</div>

<div><object id="ClCache" click="sendMsg" host="" width="0" height="0"></object></div></body></html>