<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>编辑栏目</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/libs/modernizr.min.js"></script>
 
</head>
<body>
{include file='Public/top'/}
<div class="container clearfix">
    {include file='Public/left'/}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody><tr>
                            <th width="10%"><i class="require-red">*</i>栏目名称：</th>
                            <td>
                                  <input class="common-text required" id="cname" name="cname" size="50" value="{$cateone.cname}" type="text">
                            </td>
                        </tr>
                            <tr>
                                <th><i class="require-red">*</i>关键词：</th>
                                <td>
                                    <input class="common-text required" id="keywords" name="keywords" size="50" value="{$cateone.keywords}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th width="10%">栏目类型：</th>
                                <td><input  name="type" type="checkbox" value="1" {if condition="$cateone.type eq 1"}checked {/if}>留言板</td>
                            </tr>
                          
                            <tr>
                                <th>内容：</th>
                                <td><textarea name="desc" class="common-textarea" id="desc" cols="30" style="width: 98%;" rows="10">{$cateone.desc}</textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->



</div>
</body>
</html>